.wp-block-sf-maps-block {
  margin: 0 0 60px !important;

  .wrapper {
    box-sizing: border-box;
    background: #efefef;
    text-align: center;

    &:not(.no-map) {
      height: 600px;
    }
  }

  span.no-consent {
    padding: 30px;
    text-align: center;
    display: none;

    .button {
      margin-top: 20px;
    }
  }

  .map {
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
  }

  &.no-consent {
    .wrapper {
      height: auto !important;
    }

    span.no-consent {
      display: block;
    }
  }
}

body.wp-admin .wp-block-sf-maps-block {
  margin: 0 auto !important;
}